ul.barrev {
	list-style-type:none;
	margin: 1px;
	padding:3px;
    background-color: #ADCF4F;
    width: 70px;
    text-align: left;
}

a.barrev{
	display: block;
	width:70px;
	background-color: #E70739;
}

a.barrev:hover{
	background-color: #FFF168;
	cursor: crosshair;
}
