ul.barreh {
	list-style-type:none;
	margin: 1px;
	padding:3px;
    background-color: #ADCF4F;
    width: 200px;
    text-align: left;
}

a.barreh{
	width:50px;
	background-color: #E70739;
}

a.barreh:hover{
	background-color: #FFF168;
	cursor: crosshair;
}
ul.barreh li{
	display:inline;
}
