div{
	border-width: 14px;
	margin: 2px;
	border-color: red;
	border-style: solid;
	border-bottom-style: dashed;
	border-right-style:double;
	border-top-color: blue;
	width:300px;
	text-align: center;
	padding: 10px;
	cursor:ne-resize;
}
