a:link {
	   color:#FF00FF;
	    text-decoration:none;
	   }
a:visited {
	      color:red;
	      text-decoration:none;
	      }
a:hover {
	     color:blue; 
	     background-color:#FF704D;
	     }
a:active {/*Maintenir souris cliquée et voir*/
	      color:#D2691E;
	      background-color:yellow;
	      text-decoration:underline;
	      }
