.tout{
   /* font-style font-variant font-weight font-size/line-height font-family*/
	font:15px arial,sans-serif;
}
p{
	font-family: Arial;
	font-size: 12px;
	font-weight:bold;
}

h1{
	font-size:2.7em;
	font-style:italic;
	font-variant:small-caps;
}

