ul.a {list-style-type: circle;
list-style-image: none;
 }
ul.b {list-style-type: square;list-style-image: none;}

ol.c {list-style-type: upper-roman;}
ol.d {list-style-type: lower-alpha;}
ul
{
list-style-image: url('images/sqpurple.gif');
}