table, th, td
{
border: 1px solid black;
}

table.ex7{
	border-collapse:collapse;
	width:80%;
}
th.ex7
{
height:50px;
background-color:green;
color:white;
}

td.ex7
{
height:50px;
vertical-align:bottom;
color:#FF00FF;
padding:15px;
}