ul{/* bordures pour illustrer visuellement*/
border-style:solid;
border-color:blue;
}
li{ /* bordures pour illustrer visuellement */
border-style:solid;
border-color:red;
}
ul.dedans {list-style-position:inside;}
ul.dehors {list-style-position:outside;}