.ligne{
	display: inline;
    
}

.bloc{
	display: block;
}
li{
	background-image: url('images/sqpurple.gif');
	background-repeat: no-repeat;
	list-style-type: none;
	background-position: 0 0.32em;
	padding-left: 20px;
}
