ul.n1 {
	list-style-type:none;
	margin: 1px;
	padding:3px;
    background-color: #ADCF4F;
    width: 90px;
    text-align: left;
    
}
ul.n2 {
	list-style-type:none;
    background-color: #FF00FF;
    width: 90px;
    position:absolute;
    left:90px;
    text-align: left;
}

ul.n3 {
	list-style-type:none;
    background-color: #7CFC00;
    width: 70px;
    position:absolute;
    left:70px;
    text-align: left;
}

a.menu{
	display: block;
	width:70px;
}

a.menu:hover{
	background-color: #FFF168;
	cursor: crosshair;
}
ul.n1 span{ background-color: #9370DB;}
ul.n1 ul.n2, ul.n2 ul.n3{display: none;}
li:hover>ul.n2, li:hover>ul.n3{
	display: block;
	float:none;
	}
