.elem1{
	border: 3px;
	border-style: ridge;
	background-color: gray;
	position: absolute;
	left: 20px;
	top: 100px;
	width: 600px;
	height: 400px;
}
.elem2{
	border: 3px;
	border-style: ridge;
	background-color: #FF0000;
	position: relative;
	left: -20px;
	top: 30px;
	width: 200px;
}
.elem3{
	border: 3px;
	border-style: ridge;
	background-color: #0000FF;
	position: fixed;
	left: 0px;
	bottom: 0px;
	height:50px;
	width: 200px;
}