div{
	border: 5px solid black;
	width: 50px;
	height: 50px;
	display: inline-block;
	color: red;
	background-color: yellow;
	margin: 5px;
}

.parent{
	width: 450px;
	height: 500px;
	background-color: white;
	position:relative;
}
.container {
	width: 400px;
	height: 400px;
}


.static {
	position: static;
	top: 20px;
}

.relative {
	position: relative;
	top: 20px;
}

.absolute {
	position: absolute;
	top: 20px;
}

.fixed {
	position: fixed;
	top: 20px;
}

.sticky {
	position: -webkit-sticky;
    position: sticky;
    top: 20px; 
}