.elem1{
	border: 3px;
	border-style: ridge;
	background-color: #FF0000;
	position: relative;
	left: 20px;
	top: 30px;
	text-align:center;
	height:200px;
	width: 200px;
	z-index: 1;
}
.elem2{
	border: 3px;
	border-style: ridge;
	background-color: #0000FF;
	position: fixed;
	text-align:center;
	left: 80px;
	top: 65px;
	height:100px;
	width: 200px;
	z-index: 100;
}